html{
   scroll-behavior: smooth;
}
* {
   margin: 0;
   padding: 0;
}

@font-face {
font-family: 'TTTogether';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'SCore';
    font-weight: 400;
    font-style: normal;
    src
    : url(https://cdn.jsdelivr.net/gh/webfontworld/SCore/SCoreDream4.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff) format('woff');
    font-display: swap;
}


body {
   background-color: #FBEC77;
   width: 410px;
   margin: 0 auto;
}
a {
   text-decoration-line: none;
    color: black;
    background-color: #ECB58D;
}
#gif{
	height: 500px;
	background-color: white;
}
#gifimg{
	margin-top: 100px;
	background-color: white;
}
#banner {
   height: 20px;
   text-align: center;
   background-color: #FBEC77;
}

#rere{
   font-family: 'SCoreDream', sans-serif;
   font-size: 20px;
   background-color: #ffffff;
}
#content{
   padding-top: 10px;
   font-size: 20px;
   text-align: center;
   background-color: #ffffff;
  
}
/* qustion 영역 관련 */
.question-wrapper{
   background-color: white;
   text-align: center;
   margin: 0 20px 10px 20px;
   padding: 20px 0;
   border-radius: 15px;
}

#question_index{
   font-family: 'TTTogether', sans-serif;
   font-weight: lighter;
   margin: 10px;
}

#question {
    font-family: 'SCoreDream', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    margin: auto;
    width: 80%;
    padding: 0px 25px;
    background-color: #ffffff;
    border-radius: 15px;
}
.post-wrapper{
   background-color: #ffffff;
   height: 230px;
   display: table-cell;
    vertical-align: middle;
}
#post{
   padding:5px 15px;
   background-color: #ffffff;
}
#result2{   padding: 15px;
   background-color: #ffffff;
}
#answer {
   padding: 25px 0px;
   text-align: center;
   background-color: #FBEC77;
}

/* 버튼 */
#answer button { 
   width: 80%;
   font-size: 15px;
   border : none;
   border-radius: 5px;
   background-color: white;
   color: black; 
   margin-bottom: 10px; 
   padding: 15px; 
   font-family: 'SCoreDream', sans-serif;
   font-weight: bold;
   box-shadow: 2px 5px 5px rgb(0 0 0/10%)
}

#last_answer{
   margin-bottom: 10px;
}
#last_answer button {
   width: 80%;
   font-size: 15px;
   border : none;
   border-radius: 5px;
   background-color: white;
   color: black;
   margin-bottom: 10px;
   padding: 15px;
   font-family: 'TTTogether', sans-serif;
   box-shadow: 2px 5px 5px rgb(0 0 0/10%)
}


#count{
	display: none;
}

.answer button { 
   width: 80%;
   height: 50px;
   font-size: 20px; 
   border : 3px solid black;
   border-radius: 1em;
   background-color: white;
   color: black; 
   margin-bottom: 10px; 
   padding: 15px; 
   display: inline;

}

.answer button:active { 
   color:white; 
   background-color: #21bdbd;
}

#answer button:active { 
   color:white; 
   background-color: #21bdbd; 
   font-family: 'SCoreDream', sans-serif;
}
#answer #btn1, #btn2 { 
   background-color: #FBEC77;
}
.answer .btn1, .btn2 { 
   background-color: #FBEC77;
}
#answer #btn3, #btn4 {
   display: none;
   background-color: #FBEC77;
    width: 60%;
    margin: auto;
}
footer { 
   font-size: 20px;
   text-align: center; 
   font-family: 'SCoreDream', sans-serif;
   background-color: white;
   padding: 5px;
}

#text1{
display: none;
    height: 29px;
    font-size: 20px;
    font-family: 'SCoreDream', sans-serif;
    background-color: #FBEC77;
    color: black;
    text-align: center;
    margin: 0 auto;
    font-weight:bold;
}
#text2{
   display: none;
   height: 80px;
   font-size: 30px;
   font-family: 'TTTogether', sans-serif;
   background-image: url("box1.png");
   background-size: auto;
   background-repeat: no-repeat;
   color: black;
   text-align: center;
   margin: 5px auto 20px auto;
   font-weight:lighter;
}
#text3{
   display: none;
   height: 20px;
   bottom: 5px;
   font-size: 30px;
   font-family: 'SCoreDream', sans-serif;
   background-color: #FBEC77;
   color: white;
   text-align: center;
   margin: 0 auto;
}
#gifimg{width: 200px;
padding-top: 30px;
padding-bottom: 30px;}

#gif{display: none;
   padding: 20px;
   text-align: center;
   padding-top: 0 auto;
   background-color: white;
}
#all{background: #FBEC77;}
#text4{
   display: none;
   height: 70px;
   bottom: 5px;
   font-size: 30px;
   font-family: 'SCoreDream', sans-serif;
   background-color: #FBEC77;
   color: white;
   text-align: center;
   margin: 5px auto 0 auto;
}
h1 {	
    font-family: 'SCoreDream', sans-serif;
    font-size: 16px;
    background-color: #FBEC77;
    text-align: center;	
    margin: 0 auto;
    padding: 10px 0px 20px 0px;
    color: white;
    display: none;
}

#gotoCJ{
   font-family: 'SCoreDream', sans-serif;
   display: none;
   background-color: #ECB58D;
   width: 80%;
   text-decoration-line: none;
   font-weight: bold;
   font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px
} 
#logo{
    margin-top: 25px;
    background-color: #FBEC77;
    display: none;
}
#unit_info, #unit_activity{
   display: none;
   background-color: white;
    text-align: center;
    margin: 20px 30px;
    border: 3.5px solid #000000;
}

#about_unit{
    font-family: 'SCoreDream', sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: inline;
    background-color: #FEFFCB;
}

.title{
    font-family: 'TTTogether',sans-serif;
    font-weight: lighter;
    font-size: 20px;
    padding: 10px;
    background-color: #89B5D5;
}

.title1{
    font-family: 'TTTogether', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px;
    background-color: #FAE27C;
}
.content{
    font-family: 'SCoreDream', serif;
    font-size: 15px;
    text-align: center;
    padding: 5px 15px;
    background-color: #ffffff;
    border-radius: 15px;
}

#question_img{
   width: 300px;
   margin: 15px 0px;
   border-radius: 5px;
}
#relevant{
   padding: 10px 0;
}
#textArea{ display: none;}