html{
   scroll-behavior: smooth;
}
* {
   margin: 0;
   padding: 0; 
   background-color: white;
}

body { 
   margin: 0 auto;
   width : 410px; }
a { text-decoration-line: none; color: black;
    background-color: #ec977d;
 }
#banner {
   text-align: center;
   margin-top: 100px;
 }

#content{
   padding-top: 10px;
   font-family: 'Jua', sans-serif;
   font-size: 20px;
   text-align: center;
   background-color: #FFFFFF;
  
}
footer { 
   font-size: 20px;
   text-align: center; 
   font-family: 'Jua', sans-serif;
   background-color: white;
   padding: 5px;
}

h1 {	
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    text-align: center;	
    margin: 0 auto;
    padding: 10px 0px 20px 0px;
}  

#btn {
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    padding: 0.75rem 1rem;
    border: 3.5px solid #000000;
    border-radius: 12px;
    background: #ec977d;
    width: 50%;
    margin: auto;
}