html{
   scroll-behavior: smooth;
}
* {
   margin: 0;
   padding: 0; 
   background-color: white;
}

body { 
   margin: 0 auto;
   background-color: #FBEC77;
}
a {
   background-color: #FBEC77;
}
#gif{
	height: 500px;
	background-color: white;
}
#gifimg{
	margin-top: 100px;
	background-color: white;
}
#banner {
   text-align: center;
   background-color: #FBEC77;
}

#rere{
   font-family: 'Jua', sans-serif;
   font-size: 20px;
   background-color: #ffffff;
}
#content{
   padding-top: 10px;
   font-family: 'Jua', sans-serif;
   font-size: 20px;
   text-align: center;
   background-color: #ffffff;
  
}
/* qustion 영역 관련 */
.question-wrapper{
   background-color: white;
   text-align: center;
   margin: 20px 30px;
   padding: 20px 0;
   border-radius: 15px;
}

#question_index{
   margin: 10px;
}

#question {
    font-family: 'Jua', sans-serif;
    font-size: 15px;
    text-align: left;
    width: 80%;
    padding: 0px 25px;
    background-color: #ffffff;
    border-radius: 15px;
}
.post-wrapper{
   background-color: #ffffff;
   height: 230px;
   display: table-cell;
    vertical-align: middle;
}
#post{
   padding:5px 15px;
   background-color: #ffffff;
}
#result2{   padding: 15px;
   background-color: #ffffff;
}
#answer {
   padding: 25px 0px;
   text-align: center;
   background-color: #FBEC77;
}

/* 버튼 */
#answer button { 
   width: 80%;
   font-size: 15px; 
   border : none;
   border-radius: 18px;
   background-color: white; 
   color: black; 
   margin-bottom: 10px; 
   padding: 15px; 
   font-family: 'Jua', sans-serif;
   box-shadow: 2px 5px 5px rgb(0 0 0 / 10%)
}
#count{
	display: none;
}

.answer button { 
   width: 80%;
   height: 50px;
   font-size: 20px; 
   border : 3px solid black;
   border-radius: 1em;
   background-color: white; 
   color: black; 
   margin-bottom: 10px; 
   padding: 15px; 
   display: inline;
   font-family: 'Jua', sans-serif;
}

.answer button:active { 
   color:white; 
   background-color: #21bdbd; 
   font-family: 'Jua', sans-serif;
}

#answer button:active { 
   color:white; 
   background-color: #21bdbd; 
   font-family: 'Jua', sans-serif;
}
#answer #btn1, #btn2 { 
   background-color: #FBEC77;
}
.answer .btn1, .btn2 { 
   background-color: #FBEC77;
}
#answer #btn3, #btn4 {
   display: none; 
   background-color: #FBEC77;
}
footer { 
   font-size: 20px;
   text-align: center; 
   font-family: 'Jua', sans-serif;
   background-color: white;
   padding: 5px;
}

#text1{
display: none;
    height: 29px;
    font-size: 25px;
    font-family: 'Jua', sans-serif;
    background-color: #FBEC77;
    color: black;
    text-align: center;
    margin: 0 auto;
    font-weight:bold;
}
#text2{
   display: none;
   height: 25px;
   font-size: 30px;
   font-family: 'Jua', sans-serif;
   background-color: #FBEC77;
   color: #21bdbd; 
   text-align: center;
   margin: 5px auto 0 auto;
   top:10px;
   font-weight:bold;
}
#text3{
   display: none;
   height: 20px;
   bottom: 5px;
   font-size: 30px;
   font-family: 'Jua', sans-serif;
   background-color: #FBEC77;
   color: white;
   text-align: center;
   margin: 0 auto;
}
#gifimg{width: 200px;
padding-top: 30px;
padding-bottom: 30px;}
#gif{display: none;
   padding: 20px;
   text-align: center;
   padding-top: 0 auto;
   background-color: white;
}
#all{background: #FBEC77;}
#text4{
   display: none;
   height: 70px;
   bottom: 5px;
   font-size: 30px;
   font-family: 'Jua', sans-serif;
   background-color: #FBEC77;
   color: white;
   text-align: center;
   margin: 5px auto 0 auto;
}
h1 {	
    font-family: 'Jua', sans-serif;
    font-size: 16px;
    background-color: #FBEC77;
    text-align: center;	
    margin: 0 auto;
    padding: 10px 0px 20px 0px;
    color: white;
    display: none;
}

#gotoCJ{
   display: none;
   background-color: #FBEC77;
   width: 100%;
   text-decoration-line: none;
   font-weight: bold;
   font-size: 20px;
   margin: 20px 0;
} 
#logo{
   background-color: #FBEC77;
   display: none;
}
#unit_info, #unit_activity{
   display: none;
   background-color: white;
    text-align: center;
    margin: 20px 30px;
    padding: 20px 0;
    border-radius: 15px;
}

.title{
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #ffffff;
}

.content{
    font-family: 'Jua', sans-serif;
    font-size: 15px;
    text-align: left;
    padding: 5px 15px;
    background-color: #ffffff;
    border-radius: 15px;
}