html{
   scroll-behavior: smooth;
}
* {
   margin: 0;
   padding: 0; 
   background-color: white;
}

body { 
   margin: 0 auto;
   width : 410px;
   background-color: #FBEC77;
}
a {
   background-color: #FBEC77;
}
#gif{
	height: 500px;
	background-color: white;
}
#gifimg{
	margin-top: 100px;
	background-color: white;
}
#banner {
   text-align: center;
   background-color: #FBEC77;
}

#rere{
   font-family: 'Jua', sans-serif;
   font-size: 20px;
   background-color: #ffffff;
}
#content{
   padding-top: 10px;
   font-family: 'Jua', sans-serif;
   font-size: 20px;
   text-align: center;
   background-color: #ffffff;
  
}
#question {
   font-family: 'Jua', sans-serif;
   font-size: 30px;
   text-align: center;
   width: 300px;
   margin: 5px auto;
   padding: 5px 25px;
   background-color: #ffffff;
   border-radius: 15px;
}
.post-wrapper{
   background-color: #ffffff;
   height: 230px;
   display: table-cell;
    vertical-align: middle;
}
#post{
   padding:5px 15px;
   background-color: #ffffff;
}
#result2{   padding: 15px;
   background-color: #ffffff;
}
#answer {
   padding: 25px 0px;
   text-align: center;
   background-color: #FBEC77;
}

#answer button { 
   width: 360px;
   font-size: 25px; 
   border : 3px solid black;
   border-radius: 1em;
   background-color: white; 
   color: black; 
   margin-bottom: 10px; 
   padding: 15px; 
   font-family: 'Jua', sans-serif;
}
#count{
	display: none;
}

.answer button { 
   width: 100px;
   height: 50px;
   font-size: 20px; 
   border : 3px solid black;
   border-radius: 1em;
   background-color: white; 
   color: black; 
   margin-bottom: 10px; 
   padding: 15px; 
   display: inline;
   font-family: 'Jua', sans-serif;
}

.answer button:active { 
   color:white; 
   background-color: #21bdbd; 
   font-family: 'Jua', sans-serif;
}

#answer button:active { 
   color:white; 
   background-color: #21bdbd; 
   font-family: 'Jua', sans-serif;
}
#answer #btn1, #btn2 { 
   background-color: #FBEC77;
}
.answer .btn1, .btn2 { 
   background-color: #FBEC77;
}
#answer #btn3, #btn4 {
   display: none; 
   background-color: #FBEC77;
}
footer { 
   font-size: 20px;
   text-align: center; 
   font-family: 'Jua', sans-serif;
   background-color: white;
   padding: 5px;
}

#text1{
   display: none;
   height: 70px;
   font-size: 70px;
   font-family: 'Jua', sans-serif;
   background-color: #FBEC77;
   color: white;
   text-align: center;
   margin: 0 auto;
}
#text2{
   display: none;
   height: 70px;
   font-size: 50px;
   font-family: 'Jua', sans-serif;
   background-color: #FBEC77;
   color: #21bdbd; 
   text-align: center;
   margin: 5px auto 0 auto;
   top:10px;
}
#text3{
   display: none;
   height: 20px;
   bottom: 5px;
   font-size: 30px;
   font-family: 'Jua', sans-serif;
   background-color: #FBEC77;
   color: white;
   text-align: center;
   margin: 0 auto;
}
#gifimg{width: 200px;
padding-top: 30px;
padding-bottom: 30px;}
#gif{display: none;
   padding: 20px;
   text-align: center;
   padding-top: 0 auto;
   background-color: white;
}
#all{background: #FBEC77;}
#text4{
   display: none;
   height: 70px;
   bottom: 5px;
   font-size: 30px;
   font-family: 'Jua', sans-serif;
   background-color: #FBEC77;
   color: white;
   text-align: center;
   margin: 5px auto 0 auto;
}
h1 {	
    font-family: 'Jua', sans-serif;
    font-size: 16px;
    background-color: #FBEC77;
    text-align: center;	
    margin: 0 auto;
    padding: 10px 0px 20px 0px;
    color: white;
    display: none;
}